.pole {
    flex-basis: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
}

.biale {
    background-color:red;
}

.czarne {
    background-color:yellow;
}