.pole {
    flex-basis: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
}

.biale {
    background-color:lightblue;
}

.czarne {
    background-color:blue;
}